doctype 
html
	head
		
		title Pomodoro

		link(rel="stylesheet" href="../css/app.css")
		script(src="bootstrap/bootstrap-2.3.1.min.js")
		script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js")

	body

		h1.
			Pomodoro - FCC project

		div#container  

			div.timer(tabindex="1")#clock 25:00

			div.break-timer(tabindex="2")#brake 5:00

			div.filler

			div.controls

				div.button.plus#plus +

				div.button.minus#minus -
			
				div.button.reset#reset RESET
				
			div.button.start#start START

			audio#audio(src="https://notificationsounds.com/soundfiles/2bb232c0b13c774965ef8558f0fbd615/file-jingle-bells-sms.mp3")

			footer

	script(src="../app.js")
		