doctype 
html
	head
		
		title Pomodoro

		link(rel="stylesheet" href="../css/app.css")
		script(src="bootstrap/bootstrap-2.3.1.min.js")

	body

		h1.
			Pomodoro - FCC project

		div#container  

			div.timer#clock 25:00

			div.break-timer 5:00

			div.controls

				div.plus +

				div.minus -
			
			div.start#start START

			footer

	script(src="../app.js")
		