doctype 
html
	head
		
		title Pomodoro

		link(rel="stylesheet" href="../css/app.css")
		script(src="bootstrap/bootstrap-2.3.1.min.js")
		script(src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js")

	body

		h1.
			Pomodoro - FCC project

		div#container  

			div.timer(tabindex="1")#clock 25:00

			div.break-timer(tabindex="2")#brake 5:00

			div.controls

				div.plus#plus +

				div.minus#minus -
			
			div.start#start START
			div.start#reset RESET

			footer

	script(src="../app.js")
		