

=box($w,$h,$i)
	width:		$w
	height:		$h
	line-height: $h
	z-index:	$i

=bg($bgcol)
	background-color:	$bgcol

=br($r)
	border-radius: $r

#container
	margin: 	20vh auto 0 auto
	+box		(300px, 60px, 0)
	max-height:	400px

.timer
	position: 	absolute
	+box		(280px, 280px, 10)
	+bg 		(dodgerblue)
	+br 		(50%)
	font-size:	25px
	

.break-timer
	position:	absolute
	margin:		180px, 
	+box 		(180px, 180px,1)
	+bg(green)
	+br(50%)
	font-size:	25px

.filler
	+box(100%, 400px,0)

.controls
	+box(80%, 40px, 0)
	margin: 	auto
	display:	flex


.plus
	display:  	inline-box
	+box		(50%, 40px, 0)
	+bg(orange)	

.minus
	display:	inline-box
	+box 		(50%, 40px, 0)
	+bg(yellow)

.reset
	display:	inline-box
	+box 		(50%, 40px, 0)
	+bg(yellow)	

.start
	+box 		(79%, 50px, 0)
	+bg 		(#567)
	margin:		auto