

=box($w,$h,$i)
	width:		$w
	height:		$h
	line-height: $h
	z-index:	$i

=bg($bgcol)
	background-color:	$bgcol

=br($r)
	border-radius: $r

#container
	border:		2px solid black
	margin: 	20vh auto 0 auto
	+box		(300px, 400px, 0)
	max-height:	400px

.timer
	position: 	absolute
	+box		(220px, 220px, 10)
	+bg(dodgerblue)
	+br(50%)
	


.break-timer
	
	position:	absolute
	margin:		130px, 
	+box 		(150px, 150px,1)
	+bg(green)
	+br(50%)
.controls
	+box(100%, 40px, 0)
	display:	flex

.plus
	border:		1px solid red
	display:  	inline-box
	+box		(50%, 40px, 0)
	+bg(orange)	

.minus
	border:		1px solid orange
	display:	inline-box
	+box 		(50%, 40px, 0)
	+bg(yellow)

.start
	border:		1px solid green
	+box 		(100%, 40px, 0)
	+bg(#567)