//MIXINS


//change color on focus

.timer
	&:focus
		border: solid green 5px
		outline: 0

#brake
	&:focus
		border: solid green 5px
		outline: 0

.plus
	@include button(#1F86DF)
	padding:	0
	margin:		1px

.minus
	@include button(#1F86DF)
	padding:	0
	margin:		1px

.reset
	@include button(#F06560)
	padding:	0
	margin:		1px

.start
	@include button(green)
	border:		grey solid 1px
	margin:		1px
	padding:	0

#container
	//disallow text selection on this element and it's children
	user-select: none
	-moz-user-select: none
	-webkit-user-select: none

