//MIXINS



.timer
	outline: 0
	@include transition(all 1s)
	//@include transition(opacity 1s)
	&:hover
		@include transition(all 0.1s)
		border: solid orange 1px

#brake
	outline: 0
	@include transition(all 1s)
	&:hover	
		@include transition(all 0.1s)
		border: solid orange 1px

.plus
	@include button(#1F86DF)
	padding:	0
	margin:		1px

.minus
	@include button(#1F86DF)
	padding:	0
	margin:		1px

.reset
	@include button(#F06560)
	padding:	0
	margin:		1px

.start
	@include button(green)
	border:		grey solid 1px
	margin:		1px
	padding:	0

#container
	//disallow text selection on this element and it's children
	user-select: none
	-moz-user-select: none
	-webkit-user-select: none



